/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Aug 2018, 8:10:36 PM
    Author     : Bell
*/
.mainBgImg {
    background: url("#{resource['images/FB_IMG_1527805617756.jpg']}") no-repeat center center fixed;
    background-size: cover;
}